.btn__form {
    color: $color-white;
    padding: 20px 32px;
    background-color: $color-primary;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.8px;
    line-height: 16px;
    cursor: pointer;
}
