//  primary colors
$color-secondary: #6f7dff;
$color-primary: #ff1c44;
$color-primary-n200: #edeffc;
$color-primary-n100: #fafbff;

$color-title_paragraph: #141938;

$color-textos-adicionales: #7981b2;
$color-white: #ffffff;

$color-title: #494f66;

//  feedback colors
$color-c200: #fa0a32;
$color-success: #7cc954;

$color-gray_1: #494f66;
$color-gray_2: #676f8f;
$color-gray_3: #a3abcc;
$color-gray_4: #c5cbe0;
$color-gray_5: #e4e8f7;
$color-gray_6: #f0f2fa;
$color-gray_7: #f7f8fc;
